
<img width="564" height="280" alt="2d98a91f-df44-4d32-9861-90043446e6ab" src="https://github.com/user-attachments/assets/376dc193-096e-4046-86ab-92787bc48521" />
